<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>practo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientSignupProcess</display-name>
    <servlet-name>PatientSignupProcess</servlet-name>
    <servlet-class>com.sonu.patients.PatientSignupProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSignupProcess</servlet-name>
    <url-pattern>/patientSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientSigninProcess</display-name>
    <servlet-name>PatientSigninProcess</servlet-name>
    <servlet-class>com.sonu.patients.PatientSigninProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSigninProcess</servlet-name>
    <url-pattern>/patientSignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorSignupProcess</display-name>
    <servlet-name>DoctorSignupProcess</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorSignupProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorSignupProcess</servlet-name>
    <url-pattern>/doctorSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginProcess</display-name>
    <servlet-name>DoctorLoginProcess</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorLoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginProcess</servlet-name>
    <url-pattern>/doctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientSignupError</display-name>
    <servlet-name>PatientSignupError</servlet-name>
    <servlet-class>com.sonu.patients.PatientSignupError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSignupError</servlet-name>
    <url-pattern>/PatientSignupError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientSignupSuccess</display-name>
    <servlet-name>PatientSignupSuccess</servlet-name>
    <servlet-class>com.sonu.patients.PatientSignupSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSignupSuccess</servlet-name>
    <url-pattern>/PatientSignupSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientSigninError</display-name>
    <servlet-name>PatientSigninError</servlet-name>
    <servlet-class>com.sonu.patients.PatientSigninError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSigninError</servlet-name>
    <url-pattern>/PatientSigninError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLogOut</display-name>
    <servlet-name>PatientLogOut</servlet-name>
    <servlet-class>com.sonu.patients.PatientLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLogOut</servlet-name>
    <url-pattern>/PatientLogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogout</display-name>
    <servlet-name>DoctorLogout</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogout</servlet-name>
    <url-pattern>/DoctorLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientSigninSuccess</display-name>
    <servlet-name>PatientSigninSuccess</servlet-name>
    <servlet-class>com.sonu.patients.PatientSigninSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSigninSuccess</servlet-name>
    <url-pattern>/PatientSigninSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorSignupError</display-name>
    <servlet-name>DoctorSignupError</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorSignupError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorSignupError</servlet-name>
    <url-pattern>/DoctorSignupError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorSignupSuccess</display-name>
    <servlet-name>DoctorSignupSuccess</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorSignupSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorSignupSuccess</servlet-name>
    <url-pattern>/DoctorSignupSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginError</display-name>
    <servlet-name>DoctorLoginError</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorLoginError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginError</servlet-name>
    <url-pattern>/DoctorLoginError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginSuccess</display-name>
    <servlet-name>DoctorLoginSuccess</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorLoginSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginSuccess</servlet-name>
    <url-pattern>/DoctorLoginSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogInProcedure</display-name>
    <servlet-name>AdminLogInProcedure</servlet-name>
    <servlet-class>com.sonu.admin.AdminLogInProcedure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogInProcedure</servlet-name>
    <url-pattern>/AdminLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogInError</display-name>
    <servlet-name>AdminLogInError</servlet-name>
    <servlet-class>com.sonu.admin.AdminLogInError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogInError</servlet-name>
    <url-pattern>/AdminLogInError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogOut</display-name>
    <servlet-name>AdminLogOut</servlet-name>
    <servlet-class>com.sonu.admin.AdminLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogOut</servlet-name>
    <url-pattern>/AdminLogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogInSuccess</display-name>
    <servlet-name>AdminLogInSuccess</servlet-name>
    <servlet-class>com.sonu.admin.AdminLogInSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogInSuccess</servlet-name>
    <url-pattern>/AdminLogInSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPatients</display-name>
    <servlet-name>ShowPatients</servlet-name>
    <servlet-class>com.sonu.admin.ShowPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPatients</servlet-name>
    <url-pattern>/ShowPatients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDoctors</display-name>
    <servlet-name>ShowDoctors</servlet-name>
    <servlet-class>com.sonu.admin.ShowDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDoctors</servlet-name>
    <url-pattern>/ShowDoctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPatient</display-name>
    <servlet-name>editPatient</servlet-name>
    <servlet-class>com.sonu.patients.editPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPatient</servlet-name>
    <url-pattern>/editPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientUpdate</display-name>
    <servlet-name>PatientUpdate</servlet-name>
    <servlet-class>com.sonu.patients.PatientUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientUpdate</servlet-name>
    <url-pattern>/PatientUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePatient</display-name>
    <servlet-name>deletePatient</servlet-name>
    <servlet-class>com.sonu.patients.deletePatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePatient</servlet-name>
    <url-pattern>/deletePatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorEdit</display-name>
    <servlet-name>DoctorEdit</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorEdit</servlet-name>
    <url-pattern>/DoctorEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorDelete</display-name>
    <servlet-name>DoctorDelete</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorDelete</servlet-name>
    <url-pattern>/DoctorDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorUpdate</display-name>
    <servlet-name>DoctorUpdate</servlet-name>
    <servlet-class>com.sonu.doctor.DoctorUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorUpdate</servlet-name>
    <url-pattern>/DoctorUpdate</url-pattern>
  </servlet-mapping>
</web-app>